node_modules/
dist/
build/
*.log
.env
.env.local
.DS_Store
coverage/
*.tsbuildinfo
uploads/*
!uploads/.gitkeep
.vscode/
.idea/
*.swp
*.swo
*~
pnpm-lock.yaml
zzz/

ai_services/volumes/*
ai_services/logger/app.log
ai_services/model
ai_services/**/__pycache__/
